@mixin hidden {
  visibility: hidden;
  opacity: 0;
}

@mixin visible {
  visibility: visible;
  opacity: 1;
}

@mixin placeholder() {
  &::placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

@mixin px($padding-l, $padding-r: $padding-l) {
  padding-left: $padding-l;
  padding-right: $padding-r;
}

@mixin py($padding-t, $padding-b: $padding-t) {
  padding-top: $padding-t;
  padding-bottom: $padding-b;
}

@mixin mx($margin-l, $margin-r: $margin-l) {
  margin-left: $margin-l;
  margin-right: $margin-r;
}

@mixin my($margin-t, $margin-b: $margin-t) {
  margin-top: $margin-t;
  margin-bottom: $margin-b;
}

@mixin r($x, $y: $x) {
  width: $x;
  height: $y;
}

@mixin hide-input {
  @include r(0px);
  @include hidden;
  position: absolute;
  z-index: -100;
}

@mixin min($px: 768px) {
  @media screen and(min-width: $px) {
    @content;
  }
}

@mixin max($px: 768px) {
  @media screen and(max-width: $px) {
    @content;
  }
}

@mixin center-img($fit: cover) {
  object-fit: $fit;
  object-position: center;
}

@mixin pseudo-before {
  &::before {
    content: "";
    display: block;

    @content;
  }
}

@mixin pseudo-after {
  &::after {
    content: "";
    display: block;

    @content;
  }
}

@mixin inset {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@mixin line-clamp-general() {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@mixin line-clamp-lines($lines) {
  -webkit-line-clamp: $lines;
  line-clamp: $lines;
}

@mixin line-clamp($lines: 3) {
  @include line-clamp-general();
  @include line-clamp-lines($lines);
}

// Add more
