@import "fonts";
@import "colors";

$spacings: 12;
$spacing-width: 8px;
$spacers: ();

@for $var from 0 through $spacings {
  $n_spacing: (
    $var: $var * $spacing-width
  );
  $spacers: map-merge($spacers, $n_spacing);
}

$extra-spacers:(
  '12': $spacing-width * 12,
  '16': $spacing-width * 16,
  '20': $spacing-width * 20,
  );
  
$spacers: map-merge($spacers, $extra-spacers);

$font-weights: (
  "light": 300,
  "normal": 400,
  "semibold": 500,
  "bold": 700,
  "black": 900,
);

$font-sizes: (
  "2xs": 10px,
  "xs": 12px,
  "s": 14px,
  "base": 16px,
  "l": 20px,
  "xl": 24px,
  "2xl": 32px,
  "3xl": 56px,
  "4xl": 80px,
);
